[data-its-dropdown] {
}

[data-its-dropdown-label] {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
}

[data-its-dropdown-icon] {
  height: 7.42px;
  width: 12px;
  margin-left: 15px;
}

[data-its-dropdown-items] {
  opacity: 0;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: fit-content;
  max-height: 200px;
  overflow: scroll;
  width: fit-content;
  border-radius: 5px;
  background: #222537;
  color: white;
}

[data-its-dropdown-items].active {
  opacity: 1;
}

[data-its-dropdown-item] {
  margin: 10px;
}
